.clear {
  clear: both;
}

html {
  font-family: "Gemunu Libre", sans-serif;
  background-color: #708ac7;
  color: #99daee;
  font-size: 30px;
}

nav {
  height: 80px;
  width: 100%;
  background-color: #3f0d42;
  outline: 5px solid #99daee;
  outline-offset: -5px;
  z-index: 1;
  top: 0px;
}

.navbar {
  height: 80px;
  width: 720px;
  margin: 0 auto;
}

ul {
  text-align: center;
  line-height: 80px;
}

li {
  height: 43px;
  margin: 25px 30px;
  display: inline;
}

a {
  color: #99daee;
  text-decoration: none;
  cursor: url("../img/classic-cursor-cyan.gif"), auto;
}

.logosmall {
  height: 70px;
  float: right;
  margin-top: 5px;
  transition: 0.5s;
}

.logosmall:hover {
  transform: scale(1.15);
}

header {
  width: 100%;
  z-index: 0;
  padding: 109px 0px 189px;
  background-image: url("../img/pixel-controllers.png");
  background-size: cover;
  background-position: center;
}

.header-square {
  width: 720px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 54px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-top: 14px;
}

.intro-square {
  width: 824px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 60px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.second {
  width: 720px;
  margin: 0 auto;
}

.featured {
  height: 354px;
  width: 541px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 90px auto;
  border-radius: 12%;
  transition: 0.3s;
}

.featured:hover {
  transform: scale(1.025);
}

.ft {
  height: 282px;
  width: 541px;
  border-radius: 12%;
  object-fit: cover;
  object-position: 50% 60%;
}

.about-main {
  height: 298px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 95px;
}

.maker {
  height: 208px;
  width: 208px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin: 45px 34px 45px 45px;
  transition: 0.3s;
}

.maker:hover {
  transform: scale(1.07);
}

.abt-text {
  height: 208px;
  width: 280px;
  margin-top: 46px;
  float: left;
}

.abt-square {
  height: 40px;
}

.abt-top {
  text-align: left;
  margin-bottom: 5px;
}

.yt-text{
  font-size: 20px;
  float: left;
  margin-top: 20px;
  margin-left: 5px;
  transition: 0.3ms;
}

.yt-text:hover {
  transform: scale(1.04);
}

.ft-text {
  font-size: 20px;
}

p {
  font-size: 0.833333rem;
  font-family: "Raleway", sans-serif;
}

.logo {
  width: 67px;
  float: left;
}

.main-index {
  width: 754px;
  margin: 95px auto;
}

.fake {
  height: 355px;
  width: 350px;
  float: left;
  margin-bottom: 140px;
}

.margin {
  margin-right: 54px;
}

.fakeimg {
  height: 225px;
  width: 350px;
  object-fit: cover;
  border-radius: 12%;
  transition: 0.3s;
}

.fakeimg:hover {
  transform: scale(1.1);
}

.faketext {
  color: #0d303a;
}

footer {
  width: 100%;
  background-color: #3f0d42;
  outline: 5px solid #99daee;
  outline-offset: -5px;
}

.jmglogo {
    margin: 50px 60px 50px 306px;
    float: left;
    outline: 3px solid #99daee;
    outline-offset: -3px;
    transition: 0.3s;
}

.jmglogo:hover {
  transform: scale(1.03);
}

.footer-text {
    margin-top: 50px;
    width: 270px;
    float: left;
}

.p-footer {
    margin-bottom: 30px;
    transition: 0.3ms;
}

.p-footer:hover {
  transform: scale(1.04);
}

.yt-box {
  margin-bottom: 30px;
}

.yt {
    float: left;
    margin: 20px 0px 20px 10px;
}

.gm {
    float: left;
    margin: 10px 0px 10px 10px;
}

.gmail {
  width: 60px;
  float: left;
}

h3 {
  font-size: 25px;
  color: #c5f1ff;
  font-weight: bold;
  margin: 60px auto 0px;
  text-align: center;
}

.p-article {
  color: #c5f1ff;
  margin: 30px auto 60px;
}

.header-article {
  background-image: url("../img/dirtmouth.png");
  background-size: cover;
  background-position-y: 70%;
}

.articlecolor {
  background-color: #3B5285;
}

article {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.articlewidth {
  width: 720px;
  margin: 0 auto;
}

.cave-entrance {
  height: 375px;
  display: block;
  margin: 0px auto;
}

.gamers {
  height: 425px;
  display: block;
  margin: 0 auto;
}

.amiibo {
  width: 100%;
  display: block;
  margin: 60px auto;
}

.article-link {
  font-style: italic;
}

.vr {
  width: 430px;
  float: right;
  margin-bottom: 60px;
}

.gamemania {
  width: 100%;
  margin-bottom: 60px;
}

.gametime {
  height: 553px;
  width: 605px;
  object-fit: cover;
  object-position: 90%;
}

.darkroom {
  width: 100%;
}

.floor {
  height: 1532px;
  width: 100%;
  padding-top: 30px;
  margin-top: 60px;
  background-image: url("../img/floor.JPG");
  background-size: cover;
  background-position-y: 45%;
}

.darktext {
  color: #0d303a;
  height: auto;
}

.p-first {
  width: 420px;
  margin: 30px 683px;
}

.p-second {
  width: 720px;
  text-align: center;
  margin-top: 60px;
}

.swsh {
  height: 367px;
  width: 652px;
  float: left;
  margin: 30px 0px;
}

.right {
  margin-right: 60px;
  margin-left: 80px;
}

.glitch {
  width: 100%;
  margin-top: 60px;
}

.icecandle {
  height: 338px;
  display: block;
  margin: 0px auto 60px;
}

.sand-kingdom {
  width: 100%;
}

.gaston {
  width: 825px;
  display: block;
  margin: 0 auto 60px;
}

.up {
  width: 200px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto 60px;
  border-radius: 5px;
  transition: 0.2s;
}

.up:hover {
  transform: scale(1.1);
}

.h-up {
  line-height: 35px;
}
